__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Raw datasets
task1_llm/data/*
task2_sentiment/data/*
task3_gan/data/*

# Local caches
.cache/
huggingface/

# Secrets
.env
kaggle.json
*.key

# DATA266 Task 2 generated encoded arrays
task2_sentiment/*/data_processed/*.npy

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
